:root {
    --visibleBefore-visibility: hidden;
    --visibleAfter-visibility: visible;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jetbrains Mono", monospace;
}

html {
    overflow: scroll;
}

picture {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: #f5f5fa;
}

/* Common */
.activeDot {
    background-color: rgb(26, 148, 255) !important;
}

.slideTransition {
    transition: transform 0.3s ease-in-out;
}

/* End common */
/* Heading */
body>.header {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 100px;
    z-index: 100;
    align-items: center;
    flex-direction: column;
    background-color: rgb(30, 129, 235);
}

.top-header {
    position: relative;
    width: 1207px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 10px 15px 15px;
}

.top-header .logo {
    display: flex;
    flex-shrink: 0;
    flex-basis: 190px;
}

.search form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-header .search input {
    width: 500px;
    height: 40px;
    outline: none;
    padding: 0 10px;
}

.top-header .search button {
    display: flex;
    width: 120px;
    height: 40px;
    border: none;
    color: #fff;
    align-items: center;
    justify-content: center;
    background: rgb(9, 75, 147);
}

.top-header .search img {
    margin-right: 5px;
}

.header-data-user {
    display: flex;
    color: #fff;
    font-size: 12px;
    flex-direction: row;
}

.header-data-user .user-account {
    display: flex;
    height: 100%;
    color: #fff;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user-account .user-items {
    display: flex;
    padding: 0 10px;
    flex-direction: column;
}

.user-cart {
    position: relative;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
}

.user-cart .cart-text {
    padding: 0 10px;
}

.cart-items .quantity {
    position: absolute;
    display: flex;
    top: 1px;
    left: 20px;
    width: 20px;
    height: 20px;
    color: rgb(9, 75, 147);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 218, 8);
}

.bottom-header {
    position: relative;
    width: 1207px;
    height: 40px;
    color: #fff;
    display: flex;
    padding: 0 15px;
    font-size: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bottom-header ul {
    display: flex;
    flex-direction: row;
}

.bottom-header ul li {
    padding: 0 10px;
    cursor: pointer;
}

.bottom-header .tiki-seller {
    display: flex;
    width: 150px;
    height: 22px;
    padding: 0 10px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
    background-color: rgb(9, 75, 147);
}

/* End Heading */

/* Start S lider */
.slider {
    position: relative;
    display: flex;
    width: 100%;
    height: 44px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.slide-items {
    width: 1240px;
    color: #000;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
}

.slide-items li {
    font-size: 12px;
    padding: 0 10px;
    display: inline-block;
}

.slider .icon {
    cursor: pointer;
    font-size: 14px;
    padding: 5px 5px;
    margin-bottom: 5px;
}

.slider .icon.icon-prev {
    display: none;
}

/* End Slider */

/* Start Container */
.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container>.content {
    position: relative;
    width: 1270px;
    height: max-content;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    flex-direction: column;
}

.child-component {
    position: relative;
    display: flex;
    width: 100%;
    margin: 15px 0 0 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container .top-content {
    height: 274px;
    display: flex;
}

.container .top-content .slides {
    position: relative;
    width: 824px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.container .top-content>.event {
    margin-left: 5px;
    height: 100%;
    width: 426px;
}

.container .top-content .slide-item img {
    width: 100%;
    height: 100%;
}

.container .top-content .slide-item {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.container .top-content .icons {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    z-index: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transform: translateY(calc(240px/2));
}

.container .top-content .icon {
    cursor: pointer;
    padding: 20px 10px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.1);
}

.container .top-content .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mobile_content-banner .dots span,
.container .top-content span {
    padding: 4px;
    margin: 0 2px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
}

.content-deal-and-reward {
    height: 274px;
    overflow: hidden;
}

.content-deal {
    position: relative;
    width: 736px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.content-reward {
    position: relative;
    width: 488px;
    height: 100%;
    margin-left: 16px;
}

.content-deal .header .time-countdown {
    display: flex;
    align-items: center;
    margin: 0 10px;
    flex-direction: row;
}

.container .content-deal .header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    padding: 16px 16px 8px;
    justify-content: space-between;
}

.content-deal .header-left {
    display: flex;
    flex-direction: row;
}

.content-deal .time-countdown .second,
.content-deal .time-countdown .minute,
.content-deal .time-countdown .hour {
    padding: 2px 3px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: rgb(255, 189, 8);
    font-weight: bold;
}

.content-deal .body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.reward-slider {
    width: 488px;
    height: 100%;
    overflow: hidden;
}

.deal-slider {
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.deal-slider .slide-item {
    position: relative;
    height: 100%;
    display: flex;
    padding: 12px;
    width: 148px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.deal-slider picture {
    height: 124px;
}

.deal-slider .img {
    position: relative;
}

.deal-slider .img>img {
    width: 100%;
    height: 100%;
}

.deal-slider .slide-item .img .event {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deal-slider .slide-item .deals-price {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 8px 12px;
    justify-content: center;
}

.deal-slider .deals-price .price {
    font-size: 14px;
}

.deal-slider .deals-price .sale-off {
    margin-left: 10px;
    padding: 3px;
    font-size: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 28, 8);
}

.deal-slider .status {
    position: relative;
    width: 100%;
    padding: 3px;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    background-color: rgb(255, 170, 175);
}

.deal-slider .status .just-opened {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(255, 66, 78);
}

.content-deal .icon.icon-prev,
.content-deal .icon.icon-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    margin: 10px 0;
    padding: 0 10px;
    align-items: center;
    cursor: pointer;
    justify-content: center;

}

.content-deal .icons .icon.icon-next {
    right: 0;
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.content-deal .icons .icon.icon-prev {
    left: 0;
    display: none;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.content-deal .fa {
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
}

.content-reward {
    position: relative;
    width: 488px;
    height: 100%;
}


.reward-slider .slide-item {
    width: max-content;
    height: 100%;
    display: flex;
    opacity: 0.96;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.reward-slider video,
.reward-slider img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.reward-slider .slide-item:hover {
    cursor: pointer;
    opacity: 1;
}

.reward-slider .dots {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    padding: 15px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.reward-slider .dot {
    position: relative;
    padding: 7px;
    margin: 0 5px;
    z-index: 1;
    border-radius: 50%;
}

.reward-slider .dot.one {
    cursor: pointer;
    background-color: #ab9bfa;
}

.reward-slider .dot.two {
    cursor: pointer;
    background-color: #402da1;
}

.container .content-brand {
    height: 160px;
    overflow: hidden;
}

.content .content-brand .box {
    display: none;
}

.content .content-brand .left,
.content .content-brand .right,
.content .content-brand .middle {
    height: 100%;
}

.content .content-brand img {
    height: 100%;
}

.content .content-brand .right img,
.content .content-brand .left img {
    width: 204px;
}

.content .content-brand .middle img {
    width: 800px;
}

.content>.tab-container .tabs .tab-item {
    width: 103px;
}

.content>.tab-container .tabs .tab-item a {
    width: 81px;
    padding: 0;
    font-size: 11px;
    margin-top: 12px;
    text-align: center;
}

.content>.mobile_tab-container .tabs .tab-item,
.content>.mobile-gadget .tabs .tab-item {
    padding: 0;
    width: 22vw;
}

.content>.mobile_tab-container .tabs .tab-item a,
.content>.mobile-gadget .tabs .tab-item a {
    width: 100%;
    text-align: center;
}

.content>.mobile_tab-container,
.content>.mobile-gadget,
.content>.tab-container {
    justify-content: space-between;
    background-color: #fff;
}

.content>.tab-container,
.content>.mobile_tab-container {
    overflow: scroll;
}

.content>.mobile-gadget .body {
    width: 100%;
    overflow: scroll;
}

.content>.mobile_tab-container .tabs,
.content>.mobile-gadget .tabs,
.content>.tab-container .tabs {
    position: relative;
    width: 100%;
    padding: 16px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content>.mobile_tab-container img,
.content>.mobile-gadget img,
.content>.tab-container img {
    width: 48px;
    height: 48px;
}

.mobile_content-banner .dots {
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    height: 10px;
}

.content>.mobile_tab-container .tab-item,
.content>.mobile-gadget .tab-item,
.content>.tab-container .tab-item {
    display: flex;
    font-size: 10px;
    padding-top: 15px;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

.content>.mobile_tab-container .tab-item a,
.content>.mobile-gadget a,
.content>.tab-container a {
    padding: 15px;
    inline-size: max-content;
}

.content>.mobile_tab-container {
    display: none;
    margin: 0;
}

.content>.mobile-gadget {
    display: none;
    flex-direction: column;
}

.content>.mobile-gadget .header {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
}

.content>.mobile_content-deal {
    display: none;
    width: 100%;
}

.content>.mobile_content-deal .content-deal {
    width: 100%;
}

.content>.mobile_content-deal .content-deal .header .title img {
    height: 21px;
    width: max-content;
}

.content>.mobile_content-deal .content-deal .header .title {
    white-space: break-spaces;
    display: flex;

}

.content>.mobile_content-deal .body {
    display: flex;
    overflow: scroll;
    justify-content: row;
}

.content>.mobile_content-deal .content-deal .slide-item {
    position: relative;
    width: 80px;
    padding: 0;
    margin: 0px 8px 0px 0px;
}

.content>.mobile_content-deal .content-deal picture {
    padding-top: 100%;
    height: 100%;
}

.content>.mobile_content-deal .content-deal .slide-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content>.mobile_content-deal .content-deal .price {
    font-size: 10px;
}

.content>.mobile_content-deal .content-deal .sale-off {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 2px;
    color: rgb(255, 66, 78);
    box-shadow: rgb(255, 66, 78) 0px 0px 0px .3px inset;
    background: rgb(255, 240, 241) none repeat scroll 0% 0%;
}

.content>.mobile_content-deal .content-deal .status {
    font-size: 8px;
}

.content>.mobile_content-deal .content-deal .just-opened {
    padding: 8px
}

.content>.mobile_content-deal .content-deal .more {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content>.mobile_content-deal .content-deal .more a {
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content>.mobile_content-deal .content-deal .more i {
    color: #fff;
    padding: 6px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgb(30, 129, 235);
}

.banner-container {
    padding: 15px 0;
    justify-content: center;
}

.banner-container .banner-item {
    height: 150px;
    margin: 5px;
    width: calc(100%/4);
    border-radius: 20px;
}

.banner-container .banner-item img {
    width: 100%;
    height: 100%;
}

.authentication-container {
    justify-content: center;
    background-color: #fff;
    overflow: hidden;
}

.authentic-brand {
    width: 1224px;
    padding-bottom: 13px;
    background-color: #fff;
}

.authentic-brand .banner {
    width: 100%;
}

.recommend-today .header .title,
.featured-category .header,
.authentic-brand .header {
    height: 60px;
    width: 100%;
    display: flex;
    padding: 20px 10px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.authentic-brand .header img {
    margin-right: 10px;
}

.authentic-brand .container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.authentic-brand .container .banner-slider {
    display: flex;
    height: 100%;
    width: 8568px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.authentic-brand .slide-item {
    position: relative;
    height: 201px;
    width: 612px;
    text-align: center;
}

.authentic-brand .banner-slider img {
    width: 598px;
    height: 100%;
    border-radius: 10px;
}

.authentic-brand .banner .dots {
    position: relative;
    width: 100%;
    display: flex;
    margin: 12px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.authentic-brand .banner span {
    z-index: 1;
    padding: 5px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: rgb(224, 224, 224);
}

.authentic-brand .banner>div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.authentic-brand .banner .arrow {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    display: flex;
    margin: 0 7px;
    transform: translateY(-50%);
    z-index: 2;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.authentic-brand .banner .icon {
    z-index: 1;
    display: flex;
    padding: 20px 15px;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.authentic-brand .brands-card {
    position: relative;
    width: 100%;
    height: 285px;
    overflow: hidden;
}

.authentic-brand .slide-card {
    position: relative;
    height: 287px;
    width: 3264px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.authentic-brand .card-item {
    width: 204px;
    height: 100%;
    cursor: pointer;
}

.authentic-brand .card-item .items {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.authentic-brand .card-item .title {
    position: absolute;
    bottom: 8px;
    margin-bottom: 10px;
}

.authentic-brand .slide-card img {
    width: 190px;
    height: 284px;
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
}

.authentic-brand .brands-card .icons {
    display: flex;
    left: 0;
    top: 50%;
    z-index: 2;
    width: 100%;
    position: absolute;
    flex-direction: row;
    transform: translateY(-50%);
}

.authentic-brand .brands-card .icon {
    opacity: 0.3;
    display: flex;
    align-items: center;
}

.authentic-brand .brands-card .icon.icon-next {
    position: absolute;
    right: 0;
    z-index: 2;
}

.authentic-brand .brands-card .icon.icon-prev {
    z-index: 2;
    visibility: hidden;
}

.authentic-brand .brands-card .icon i {
    padding: 6px;
    border-radius: 50%;
    border: 1px solid #c0c0c0;
    background-color: #fff;
}

.authentic-brand .brands-card:hover .icon {
    opacity: 1;
}

.authentic-brand .brands-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 120px;
    height: 100%;
    visibility: var(--visibleBefore-visibility);
    pointer-events: none;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.authentic-brand .brands-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 120px;
    height: 100%;
    visibility: var(--visibleAfter-visibility);
    pointer-events: none;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.featured-category {
    background-color: #fff;
    flex-direction: column;
}

.featured-category .top>div,
.featured-category .bottom>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.featured-category img {
    width: 60px;
    height: 60px;
    border-radius: 40%;
}

.featured-category div a {
    display: inline-flex;
    font-size: 12px;
    text-align: center;
    width: calc(100%/11);
    flex-direction: column;
    justify-content: flex-start;
}

.featured-category div a span {
    margin: 12px 0px 16px;
}

.banner-content02 {
    height: 150px;
}

.banner-content02 a {
    height: 100%;
    width: 394px;
    text-align: center;
}

.banner-content02 a img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.recommend-today .header {
    margin: 3px 0;
    border-radius: 10px;
    background-color: #fff;
}

.recommend-today .tab-item {
    width: 100%;
    margin: 3px;
    font-size: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.recommend-today .tab-container .tab-item.first {
    margin-left: 0;
}

.recommend-today .tab-container .tab-item.last {
    margin-right: 0;
}

.recommend-today .tab-item a {
    display: flex;
    width: 100%;
    padding: 4px 8px;
    text-align: center;
    flex-direction: column;
}

.recommend-today .tab-item span {
    padding: 5px 0px;
}

.recommend-today {
    overflow: visible;
    flex-direction: column;
}

.recommend-today .header {
    position: sticky;
    top: 0;
    z-index: 900;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.recommend-today .header .title {
    height: 48px;
    border-radius: 5px;
}

.recommend-today .tab-container img {
    width: 48px;
    height: 48px;
}

.recommend-today .tab-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    overflow: scroll;
    background-color: #f5f5fa;
}

.recommend-today .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0px 0px 16px;
    background-color: #fff;
}

.recommend-today .product-item {
    position: relative;
    width: calc(100%/6);
    height: 100%;
    padding: 12px;
    cursor: pointer;
    display: flex;
    font-size: 10px;
    text-align: center;
    flex-direction: column;
    background-color: #fff;
}

.recommend-today .product-item picture {
    position: relative;
}

.recommend-today .product-item picture .product {
    width: 100%;
    height: 100%;
}

.recommend-today .product-item picture .event {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 136px;
    height: 24px;
}

.recommend-today .product-item .description {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 12px;
    min-height: 40px;
}

.recommend-today .product-item .description span {
    font-size: 10px;
    margin: 0px 0px 4px;
    line-height: 20px;
    font-weight: initial;
    word-break: break-word;
}

.recommend-today .product-item .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.recommend-today .product-item .info span {
    margin-right: 6px;
}

.recommend-today .product-item .rate {
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    align-items: center;
}

.recommend-today .product-item .deal-price {
    text-align: left;
    padding: 2px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.recommend-today .product-item .deal-price .price {
    font-size: 14px;
    color: red;
}

.recommend-today .product-item .deal-price .deal-percent {
    padding: 1px;
    color: red;
    border-radius: 10%;
    border: 1px solid red;
}

.recommend-today .product-item:hover {
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.recommend-today .more-products {
    display: flex;
    width: 100%;
    margin-top: 12px;
    align-items: center;
    justify-content: center;
}

.recommend-today .more-products span {
    padding: 5px 50px;
    border: 1px solid rgb(26, 148, 255);
}

.recommend-today .more-products span:hover {
    background-color: rgb(9, 75, 147);
    color: #fff;
}

.recommend-today .product-item.more-item-1 {
    display: none;
}

.mobile_content-banner {
    height: 100%;
    display: none;
    flex-direction: column;
}

.mobile_content-banner .header {
    display: flex;
    width: 100%;
    padding: 10px 0;
    justify-content: flex-start;
}

.mobile_content-banner .content {
    width: 100%;
    height: 100%;
    font-size: 12px;
    overflow: hidden;
}

.mobile_content-banner .title {
    font-size: 10px;
    width: 100%;
    display: flex;
    padding: 5px 0;
    background-color: rgba(26, 148, 255, .2);
    justify-content: center;
}

.mobile_content-banner .slides {
    width: calc(100%*11);
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.mobile_content-banner .slides .slide-item {
    width: 100%;
    height: 100%;
}

.mobile_content-banner .slides img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.mobile_content-feature-item {
    display: none;
}

.footer {
    display: flex;
    width: 100%;
    margin-top: 16px;
    padding: 16px 0;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    background-color: #fff;
}

.footer>div {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.footer .payment-methods svg {
    width: 32px;
    height: 32px;
}

.footer .payment-methods .icon {}

.fHiR {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer .infomation {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.footer .infomation .icon {
    margin-right: 8px;
    margin-bottom: 8px;
}

.footer .infomation>div {
    width: 226px;
}

.fHt {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rbg(56, 56, 61);
    margin-bottom: 12px;
}

.fHc {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.flstItem {
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 8px;
}

.flstItem:hover {
    text-decoration: underline;
}

.footer .address {
    display: flex;
    padding-top: 16px;
    align-items: center;
    padding-bottom: 16px;
    justify-content: center;
}

.home-bottom-navigation {
    display: none;
}

.home-bottom-navigation>a {
    width: 64px;
    padding-top: 5px;
    text-align: center;
    padding-bottom: 6px;

}

.home-bottom-navigation img {
    width: 24px;
    height: 100%;
    display: block;
    padding-bottom: 4px;
}

.home-bottom-navigation picture {
    display: flex;
    justify-content: center;
    align-content: center;
}

.home-bottom-navigation>a>div {
    display: flex;
    font-size: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* End Container */
/* Animations */

/* Responsive */
@media screen and (max-width: 1240px) {

    body>.container .banner-container,
    .authentication-container,
    .banner-content02,
    body>.header .top-header .user-account .user-items,
    body>.header .top-header .cart-text,
    body>.header .top-header .user-cart .quantity,
    body>.header .bottom-header .tiki-seller,
    body>.header .bottom-header .items {
        display: none;
    }

    body>.header {
        height: 102px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }

    body>.header .top-header,
    body>.header .bottom-header {
        width: 100%;
        height: 102px;
        position: absolute;
        padding: 8px 12px 0px;
    }

    body>.header .top-header .logo {
        position: absolute;
        display: flex;
        top: 0;
        left: 50%;
        height: 66px;
        align-items: center;
        justify-content: center;
        transform: translateX(-50%);
    }

    body>.header .top-header .logo img {
        width: 40px;
        height: 27px;
    }

    body>.header .top-header .header-data-user {
        position: absolute;
        top: 0;
        display: flex;
        height: 66px;
        align-items: center;
        justify-content: center;
        right: 12px;
    }

    body>.header .search {
        position: absolute;
        bottom: 0;
        left: 12px;
        right: 12px;
        height: 36px;
        z-index: 1;
        margin-bottom: 8px;
    }

    body>.slider {
        display: none;
    }

    body>.header .search span {
        display: none;
    }

    body>.header .search button {
        position: absolute;
        right: 0;
        width: 50px;
        height: 100%;
        background-color: rgba(0, 0, 0, 1);
    }

    body>.header .search input {
        position: relative;
        width: 100%;
        height: 36px;
    }

    body>.header .bottom-header .logo {
        position: absolute;
        top: 36%;
        transform: translateY(-36%);
    }

    body>.container .top-content .event {
        display: none;
    }

    body>.container .top-content {
        height: calc(-7.93162px + 33.0484vw);
    }

    body>.container .top-content .slides {
        width: 100%;
    }

    body>.container .content-deal-and-reward .content-deal {
        display: none;
    }

    .container .content-deal-and-reward {
        width: calc(-24px + 100vw);
        height: calc(-13.5057px + 56.2738vw);
    }

    .content-deal-and-reward .content-reward {
        margin-left: 0;
    }

    .content-reward {
        width: 100%;
    }

    .content-reward .reward-slider {
        position: relative;
        width: 100%;
    }

    body>.container .content-brand {
        margin-top: 8px;
        height: calc(30.2222vw);
    }

    body>.container .content-brand>div {
        border-radius: 10px;
    }

    body>.container .content-brand picture {
        display: none;
    }

    .container>.content .content-brand .middle {
        width: calc(36.2667vw);
        height: 90%;
        background: url('https://salt.tikicdn.com/ts/banner/93/c7/d0/cf4989d548c597d0fdb0ae9390be827b.png') center/cover no-repeat;
    }

    .container>.content .content-brand .right,
    .container>.content .content-brand .left {
        width: calc(27.7333vw);
        height: 80%;
        margin-left: 10px;
        margin-right: 10px;
        background: url('https://salt.tikicdn.com/ts/banner/b3/3d/e5/5a6340fe8cb3a56f77ae4bf3a11e8169.png') center/cover no-repeat;
    }

    .container>.content .content-brand .box {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        height: calc(8.53333vw);
        border-radius: 12px 12px 0px 0px;
        background: white none repeat scroll 0% 0%;
    }

    .container>.content .mobile_tab-container,
    .container>.content .mobile-gadget {
        display: flex;
    }

    .content>.tab-container {
        display: none;
    }

    .container>.content .mobile-gadget .tabs,
    .container>.content .mobile_tab-container .tabs {
        width: max-content;
    }

    .content>.mobile_content-deal {
        display: flex;
    }

    .content>.mobile_content-banner {
        display: flex;
    }

    .mobile_content-feature-item .title {
        font-size: 2.5vw;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: rgba(26, 148, 255, .3);
    }

    .mobile_content-feature-item .title,
    .mobile_content-feature-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .mobile_content-feature-item .right,
    .mobile_content-feature-item .left {
        width: calc(100%/2);
        height: 100%;
    }

    .mobile_content-feature-item .right {
        padding-left: 4px;
    }

    .mobile_content-feature-item .left {
        padding-right: 4px;
    }

    .mobile_content-feature-item img {
        width: 100%;
        height: 100%;
        display: block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .mobile_content-feature-item {
        display: flex;
    }

    .recommend-today .product-item {
        width: calc(100%/2);
    }

    .footer {
        display: none;
    }

    .home-bottom-navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1270px) {
    .container>.content {
        width: 100%;
    }

    .container .child-component {
        width: 100%;
    }

    .footer .address,
    .footer .infomation {
        width: 100%;
    }

}
